.new-event-form,
.new-greeting-form {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
}

.guest-picker {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 5px;
}

.guest-input {
    display: grid;
    grid-template-columns: 5rem 1fr;
    grid-gap: 5px;
}

.icon-button {
    width: 2rem;
}

input,
.form select {
    padding: 5px;
}

/* Mobile */

@media (max-width: 768px) {
    .new-event-form {
        grid-template-columns: 1fr;
    }
    .guest-input {
        display: grid;
        grid-template-columns: 1fr;
    }
}