.greeting-tabs-container {
    display: flex;
    width: 100%;
    background-color: var(--primary-light);
}

.greeting-tab {
    color: white;
    padding: 10px;
    cursor: pointer;
}

.greeting-tab:hover {
    background-color: var(--primary);
}

.greeting-tab-pill {
    font-size: 0.8rem;
    border-radius: 50%;
    background-color: var(--secondary);
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    color: black;
}

.active-tab {
    background-color: var(--primary-dark);
}

.greeting-wrapper {
    border-bottom: 1px solid gray;
    display: grid;
    grid-template-columns: 75% 1fr;
    grid-gap: 10px;
}

.greeting-wrapper .buttons {
    display: flex;
}

.greeting-wrapper .buttons span {
    cursor: pointer;
    color: var(--primary-light);
    margin: 5px;
    filter: drop-shadow(1px 1px 2px #666666);
}

.greeting-wrapper .readonly * {
    padding: 0;
    margin: 0;
}

/* Mobile */

@media (max-width: 768px) {
    .greeting-wrapper {
        grid-template-columns: 1fr;
    }
    .greeting-tabs-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .greeting-tab {
        filter: drop-shadow(1px 1px 2px #666666);
    }
}