.outer-wrapper {
    display: flex;
    justify-content: center;
    width: var(--mid-container-width);
}

.nav-container {
    display: flex;
    color: var(--text-color);
    align-content: center;
    align-items: center;
}

.login-btn {
    margin-left: auto;
}

.nav-container a,
.nav-container span {
    padding: 10px 15px 10px 0;
    text-decoration: none;
}

.nav-container a:hover,
.nav-container span:hover {
    font-weight: bold;
}

.nav-container a:first-child {
    font-size: 2rem;
}

.nav-container span {
    cursor: pointer;
    display: inline-block;
}

.active-link {
    font-weight: bold;
    color: var(--primary);
}

/* Mobile */

@media (max-width: 576px) {}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}