.outer-wrapper {
    display: flex;
    justify-content: center;
    width: var(--mid-container-width);
}

.nav-container {
    display: flex;
    color: var(--text-color);
}

.login-btn {
    margin-left: auto;
}

.nav-container a,
.nav-container span {
    padding: 15px 15px 15px 0;
    text-decoration: none;
}

.nav-container a:hover,
.nav-container span:hover {
    text-decoration: underline;
}

.nav-container span {
    cursor: pointer;
    display: inline-block;
}

.active-link {
    color: red;
}

/* Mobile */

@media (max-width: 576px) {}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}