:root {
    /* colors */
    --page-bg: #f9fafe;
    --text-color: #3a416f;
    --primary-dark: #6d1b7b;
    --primary: #9c27b0;
    --primary-light: #af52bf;
    --secondary-dark: #b28900;
    --secondary: #ffc400;
    --secondary-light: #ffcf33;
    /* dimensions */
    --min-container-width: 95%;
    --mid-container-width: 75%;
    --max-container-width: 75%;
    /* fonts */
    --body-font: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'Open Sans';
    src: local('OpenSans'), url('./fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: local('OpenSans'), url('./fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    background-color: var(--page-bg);
}

button {
    font-family: var(--body-font);
}

.outer-wrapper {
    width: 100%;
}

.container {
    width: var(--mid-container-width);
}

@import './styles/navBar.css';
@import './styles/forms.css';
@import './styles/greetings.css';
@import './styles/home.css';
@import './styles/chat.css';
/* Mobile */

@media (max-width: 576px) {
    .container {
        width: var(--min-container-width);
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .container {
        width: var(--max-container-width);
    }
}